:root {
  --Rock: #B69E31;
  --Ghost: #70559B;
  --Steel: #B7B9D0;
  --Water: #6493EB;
  --Grass: #74CB48;
  --Psychic: #FB5584;
  --Ice: #9AD6DF;
  --Dark: #75574C;
  --Fairy: #E69EAC;
  --Normal: #AAA67F;
  --Fighting: #C12239;
  --Flying: #A891EC;
  --Poison: #A43E93;
  --Ground: #DEC16B;
  --Bug: #A7B723;
  --Fire: #F57D31;
  --Electric: #F9CF30;
  --Dragon: #7037FF;
  --DarkGray: #212121;
  --MediumGray: #666666;
  --LightGray: #EOEOEO;
  --White: #FFFFFF;
  --Background: #F7F7F7;
  }


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
