/* Aca tenemos los colores para cada pokemon*/

.rock {color: #B69E31;} 

.ghost {color: #70559B;}

.steel {color:#B7B9D0;}

.water  {color:#6493EB;}

.grass {color:#74CB48;}

.psychic {color:#FB5584;}

.ice  {color:#9AD6DF;}

.dark {color:#75574C;}

.fairy {color:#E69EAC;}

.normal {color:#AAA67F;}

.fighting{color:#C12239;}

.flying{color:#A891EC;}

.poison {color:#A43E93;}

.ground {color:#DEC16B;}

.bug {color:#A7B723;}

.fire {color:#F57D31;}

.electric {color:#F9CF30;}

.dragon {color:#7037FF;}

.darkGray {color:#212121;}

.mediumGray {color:#666666;}

.lightGray {color:#E0E0E0;}

.white {color:#FFFFFF;}

.background {color:#F7F7F7;}

#Pokeball{
  width: 40px;
}

#Img-pokemons-buscador{
  width: 160px;
}

ul {
  list-style-type: none;
}

.div-Buscador{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.test {
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
  
}


.tarjeta-general {
  border: solid 2px;
  border-radius: 13px;
  text-align: center;
   max-width: 350px;  
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex ;
  flex-direction: column;
  position: relative;
}

.poke-name::before {
  content: url(./img/arrow-left.svg);
  vertical-align: middle;
  margin-right: 5px;

}

.nombre-id-tarjeta {
  display: flex;
  flex-direction: row;
  
    align-items: center;
    padding-bottom: 175px;
    background-image: url(./img/Pokeball.png);
    background-repeat: no-repeat;
    background-position: right;
   position: relative;
}

.nombre-id-tarjeta  p {
  position: absolute;
    right: 15px;
    font-size: 12px;
    top: 0;
}

.nombre-id-tarjeta  h2 {
  padding-left: 10px;
}

.nombre-id-tarjeta img {
  
     opacity: 0.5;
}

.elements-span {
  display: flex;
  align-items: space-between;
  justify-content: center;
}

.elements-span p {
  border: solid 1px;
  border-radius: 50px;
  padding: 5px 13px;
  font-weight: bold;
}

.elements-span p {
  margin: 10px;
}

.contenido-inferior {
  border: solid 1px;
  border-radius: 13px;
  margin: 5px;
  padding-top: 15px;
  min-height: 530px;
}

.imagen {
  position: absolute;
  top: 140px;
    left: 95px;
}

.itmes-about {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: left;
  max-width: 100px;
  justify-content: center;
  
}
.list-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subtitles-about {
  font-weight: lighter;
  padding-top: 5px;
  word-wrap: normal;

}

.weight-icon::before {
  content: url(img/Weight.svg);
  padding-right: 5px;
  vertical-align: middle;
 
}

.height-icon::before {
  content: url(img/Height.svg);
  padding-right: 5px;
  vertical-align: middle;
}

.itmes-about.height {
  border-right: solid 1px;
  border-left: solid 1px;
  padding: 0 20px;
}

.pokemon-info {
  font-size: 14px;
    padding: 10px;
    text-align: left;
}

.table-elements {
  font-weight: bold;
  border-right: solid 1px;
  text-align: center;
  padding-right: 20px;
}

.table-numbers {
  padding-left: 20px;
}

.lists-base-stats {
  display: flex;
  align-items: center;

  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
